body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsla(222, 100%, 49%, 0.473);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid 1px green;
}

.container{
    border: solid, 1px red;
    text-align: center;
}